
.chat {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: relative;
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 30%;
        min-width: 220px;
        margin: 10px 0 10px 10px;
        color: aliceblue;
        border-right: 2px solid #4969d4;
        // position: absolute;
        // top: 0;
        // bottom: 0;
    }
    &__dialogs {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 70%;
        margin: 10px 10px 10px 0;
        color: aliceblue;
    }
    &__colHeading {
        margin-bottom: 20px;
        font-size: 20px;
    }
    .dialogs_left,
    .dialogs_right {
        display: flex;
        margin: 20px;
    }
    .dialogs_left {
        justify-content: flex-start;
    }
    .dialogs_right {
        justify-content: flex-end;
    }
}
