* {
    box-sizing: border-box;
}
.MainScreen {
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        min-height: 95vh;
        margin: 10px auto;
        background-color: #242b42;
        border-radius: 10px;
        box-shadow: 0px 0px 16px 8px rgba(10, 13, 15, 0.29);
        position: relative;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-height: 80px;
        border-bottom: 1px solid #4969d4;
    }

    &__logo {
        margin: 20px;
        color: aliceblue;
        font-size: 50px;
        text-transform: uppercase;
    }

    &__content {
        display: flex;
        width: 100%;
        // position: absolute;
        top: 108px;
        left: 0;
        bottom: 101px;
        right: 0;
    }

    &__sidebar {
        width: 100%;
        max-width: 300px;
        border-right: 1px solid #293eb1;
    }

    &__showContent {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 18px;
        color: aliceblue;
        border-top: 1px solid #4969d4;

    }
}


